In [146]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [147]:
import pandas as pd

In [148]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [149]:
df.head(23)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Promedio ND,Punto 1,CP1,Punto 2,CP2
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,0,7439.0,0
8,1104224296,6356.600,6233.000,62,31,6357.0,0,6233.0,5
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,0,6233.0,0
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,0,5630.0,0
16,1193231792,175.000,152.000,1,38,7792.0,0,7640.0,0
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5,7238.0,5

In [150]:
def p2(x):
    a = x * 101**2 +2*101 + 23
    b = x * 100**2 +2*100 + 23
    return (a - b)/(101 - 100)

In [151]:
df['Punto 2'] = df['Promedio ND'].apply(p2)
df.head(18)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Promedio ND,Punto 1,CP1,Punto 2,CP2
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,0,7439.0,0
8,1104224296,6356.600,6233.000,62,31,6357.0,0,6233.0,5
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,0,6233.0,0
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,0,5630.0,0
16,1193231792,175.000,152.000,1,38,7792.0,0,7640.0,0
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5,7238.0,5

In [152]:
def notas2(n):
    n1 = str(n[2])
    n2 = str(n[7])
    if n2 == n1:
        return('5')
    else:
        return('0')

In [153]:
df['CP2'] = df.apply(notas2, axis = 1)
df.head(18)

/tmp/ipykernel_2296/2505063663.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1 = str(n[2])
/tmp/ipykernel_2296/2505063663.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2 = str(n[7])

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Promedio ND,Punto 1,CP1,Punto 2,CP2
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5,7238.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5,8645.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5,8444.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5,4826.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5,5429.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5,6233.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5,7238.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,0,7439.0,0
8,1104224296,6356.600,6233.000,62,31,6357.0,0,6233.0,5
9,1094049572,8407.000,8243.000,8202,41,8407.0,5,8243.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,0,6233.0,0
11,1028485597,10047.000,9851.000,2,49,10047.0,5,9851.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5,7037.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5,6233.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5,7439.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,0,5630.0,0
16,1193231792,175.000,152.000,1,38,7792.0,0,7640.0,0
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5,7238.0,5

In [154]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [155]:
col_idx = 3

df.iloc[:, col_idx] = (
    df.iloc[:, col_idx]
      .astype(str)
      .str.replace(",", ".")
      .astype(float)
)

def p3(fila):
    return 2 * fila["Promedio ND"] * 100 + 2

df["Punto 3"] = df.apply(p3, axis=1)

df.head(18)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Promedio ND,Punto 1,CP1,Punto 2,CP2,Punto 3
0,1021674384,7382.000,7238.000,7202.0,36,7382.0,5,7238.0,5,7202
1,1028481694,8817.000,8645.000,8602.0,43,8817.0,5,8645.0,5,8602
2,1012976628,8612.000,8444.000,8402.0,42,8612.0,5,8444.0,5,8402
3,1103500518,4922.000,4826.000,4802.0,24,4922.0,5,4826.0,5,4802
4,1141316451,5537.000,5429.000,5402.0,27,5537.0,5,5429.0,5,5402
5,1127228530,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202
6,1000794960,7382.000,7238.000,2.0,36,7382.0,5,7238.0,5,7202
7,1019606644,389866.330,3739.230,7402.0,37,7587.0,0,7439.0,0,7402
8,1104224296,6356.600,6233.000,62.0,31,6357.0,0,6233.0,5,6202
9,1094049572,8407.000,8243.000,8202.0,41,8407.0,5,8243.0,5,8202
10,1025062924,6.357,6.233,6.202,31,6357.0,0,6233.0,0,6202
11,1028485597,10047.000,9851.000,2.0,49,10047.0,5,9851.0,5,9802
12,1013037578,7177.000,7037.000,7002.0,35,7177.0,5,7037.0,5,7002
13,1113364165,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202
14,1140914656,7587.000,7439.000,76.0,37,7587.0,5,7439.0,5,7402
15,1011095164,5740.000,5620.000,5600.0,28,5742.0,0,5630.0,0,5602
16,1193231792,175.000,152.000,1.0,38,7792.0,0,7640.0,0,7602
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202

In [156]:
def CP3(n):
    n1 = str(n[9])
    n2 = str(n[3])
    return '5' if n1 == n2 else '0'

df["CP3"] = df.apply(CP3, axis=1)
df.head(23)

/tmp/ipykernel_2296/2169647516.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1 = str(n[9])
/tmp/ipykernel_2296/2169647516.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2 = str(n[3])

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),Promedio ND,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3
0,1021674384,7382.000,7238.000,7202.0,36,7382.0,5,7238.0,5,7202,0
1,1028481694,8817.000,8645.000,8602.0,43,8817.0,5,8645.0,5,8602,0
2,1012976628,8612.000,8444.000,8402.0,42,8612.0,5,8444.0,5,8402,0
3,1103500518,4922.000,4826.000,4802.0,24,4922.0,5,4826.0,5,4802,0
4,1141316451,5537.000,5429.000,5402.0,27,5537.0,5,5429.0,5,5402,0
5,1127228530,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202,0
6,1000794960,7382.000,7238.000,2.0,36,7382.0,5,7238.0,5,7202,0
7,1019606644,389866.330,3739.230,7402.0,37,7587.0,0,7439.0,0,7402,0
8,1104224296,6356.600,6233.000,62.0,31,6357.0,0,6233.0,5,6202,0
9,1094049572,8407.000,8243.000,8202.0,41,8407.0,5,8243.0,5,8202,0
10,1025062924,6.357,6.233,6.202,31,6357.0,0,6233.0,0,6202,0
11,1028485597,10047.000,9851.000,2.0,49,10047.0,5,9851.0,5,9802,0
12,1013037578,7177.000,7037.000,7002.0,35,7177.0,5,7037.0,5,7002,0
13,1113364165,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202,0
14,1140914656,7587.000,7439.000,76.0,37,7587.0,5,7439.0,5,7402,0
15,1011095164,5740.000,5620.000,5600.0,28,5742.0,0,5630.0,0,5602,0
16,1193231792,175.000,152.000,1.0,38,7792.0,0,7640.0,0,7602,0
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202,0

In [157]:
print(df.columns)

Index(['Número de documento',
       'Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir  de 100 a 105 unidades (Poner dos decimales)',
       'Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir  de 100 a 101 unidades (Poner dos decimales)\n',
       'Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)',
       'Promedio ND', 'Punto 1', 'CP1', 'Punto 2', 'CP2', 'Punto 3', 'CP3'],
      dtype='object')